{% extends 'app1/main.html' %}
{% load static %}
<!---->
{% block content %}
<!-- -->



<div class="row">
     {% for i in products %}

     <div class='col-lg-4'>
          <div class='box-element'>
               <img class='thumbnail'width="360" height="400" src="{{i.imageURL}}" alt="Snow" style="width:100%">
               <h2><strong>{{i.product_name}}</strong></h2>
                         <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                         <a class="btn btn-outline-success" href="#">View</a>
                         <h4 style="float: right"><strong>${{i.price}}</strong></h4>
          </div>
     
	</div>
     {% endfor%}
</div>
<!---->
{% endblock content %}
<!-- -->
